header{
  height: 70px;
  border-bottom: 1px solid var(--black);
  margin: auto;
  padding: 0px 15px;
}

#loadingWrapper{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loadingWrapper > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#loadingWrapper > h1 > .bp3-spinner {
  margin-right: 15px;
}

#App{
  position: relative;
  padding-bottom: 50px;
}

#header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  max-width: 1200px;
  height: 100%;
}

#content {
  max-width: 1528px;
  margin: auto;
  margin-top: 20px;
  padding: 5px;
}

#apartmentWrapper{
  margin: auto;
}

.sectionTitle {
  grid-column: 1 / -1;
  margin-top: 25px;
  background-color: var(--gray);
  padding: 5px 15px;
}

.apartmentsWrapper {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
}

.apartment {
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 2px gray;
  padding: 5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  min-height: 200px;
}

.topRightData{
  position: absolute;
  right: 5px;
  top: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.price {
  font-weight: bold;
  font-size: 1.3rem;
}

.date {
  font-size: 0.9rem;
  font-style: italic;
}

.layout {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.detailWrapper {
  display: flex;
  flex-wrap: wrap;
}

.detailItem {
  flex: 1;
}

#lastUpdate{
  position: absolute;
  bottom: 15px;
  left: 5px;
  right: 5px;
  font-weight: bold;
  text-align: center;
}

#filterWrapper {
  border: 1px solid var(--black);
  width: 900px;
  max-width: 100%;
  margin: auto;
  margin-top: 30px;
  padding: 5px
}

.filter {
  margin: 0;
  padding: 0;
}

.filterItem {
  display: inline-flex;
  align-items: center;
  padding: 2px 15px;
  margin: 1px;
  transition: 0.3s;
}

.filterItem input {
  padding: 0;
  margin: 0;
  margin-right: 5px;
}

.checkbox {
  width: 15px;
  height: 15px;
  border-radius: 25px;
  border: 1px solid var(--black);
  transition: 0.3s;
  margin-right: 5px;
}

.check {
  background-color: var(--black);
}

.dailyPriceChart{
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  z-index: -1;
}

#showApartmentBackground{
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
}

#showApartmentWrapper{
  padding-bottom: 50px;
  margin: 5px;
  background-color: var(--white);
  min-width: 400px;
  min-height: 200px;
  max-width: 100%;
  max-height: 100%;
  background-color: white;
  overflow: visible;
}

#showApartmentWrapper h1 {
  margin: 15px auto auto 15px;
}

#showApartmentWrapper.apartment {
  cursor: initial;
  padding: 0;
}

#showApartmentWrapper .dailyPriceChart {
  position: absolute;
  z-index: initial;
}

#showApartmentWrapper .detailWrapper {
  position: relative;
  padding: 15px;
  margin: 0;
}

.priceInfo {
  background-color: #cccccc3b;
  padding: 0px 25px 15px 25px;
}

.priceInfo ul {
  padding: 0px;
  margin: 0px;
  margin-top: 10px;
  list-style-type: none;
  columns: 2;
  column-rule: 1px solid var(--black)
}

.priceInfo li {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.closeBtn {
  position: absolute;
  top: -30px;
  right: 5px;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

@media only screen and (max-width: 1400px) {
  #content {
    max-width: 100%;
  }
  .apartmentsWrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1000px) {
  .apartmentsWrapper {
    grid-template-columns: 1fr 1fr;
  } 
}

@media only screen and (max-width: 570px) {
  .apartmentsWrapper {
    grid-template-columns: 1fr;
  } 
  #showApartmentWrapper{
    min-width: 90%;
  }
}